{% load staticfiles %}
{% load notes %}
<!--DOCTYPE html -->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes</title>

    <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' />
    <link rel='stylesheet' href='{% static "css/bootstrap-theme.min.css" %}' />

    <style>
    </style>
</head>

<body>

    <div class='container margin-form'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{total_label}}{{total}}</h1>
</div>
<br>
<div class='col-sm-6 col-sm-offset-3'>
<div class="thumbnail">
<div class="caption post-detail-item">

<form  action="" method="POST" enctype='multipart/form-data' id='note_form'>{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-default" value="Submit" />
</form>

</div>

</div>
</div>

<div class='col-sm-6 col-sm-offset-3'>

    {% for obj in object_list %}
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">

                {% if obj.image %}
                <img src='{{ obj.image.url }}' class='img-responsive' /></a>
                {% endif %}

                <div class="caption post-detail-item">
                <div id='ajax_err'></div>
                <div id='ajax_ok'></div>
                    <h3>{{ obj.title }} <small>{{ obj.timestamp }}</small></h3>
                    <p>Author: {{ obj.user }}</p>
                    <p>Browse content: {{ obj.content|truncatechars:10 }}</p>
                </div>

            </div>
        </div><hr/>
    </div>
    {% endfor %}
</div>

</div>

<script src='{% static "js/jquery-3.1.1.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>

<!-- <script type="text/javascript">
$('#note_form').on('submit', function(e){
    e.preventDefault();
    var form = $('#note_form');
    $.ajax({
        type: form.attr('method'),
        url: {% url 'notes:list' %},
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
            $("#ajax_ok").html(data);
            alert('HEEEEYYYYYY')
        },
        error: function(data) {
            $("#ajax_err").html("Something went wrong!");
        }
    })
})
</script> -->

</body>
</html>
