{% extends "base.html" %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% for obj in object_list %}
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <div class="caption post-detail-item">
                    <h3>{{ obj.title }} <small>{{ obj.timestamp }}</small></h3>
                    <p>Author: {{ obj.user }}</p>
                    <p>Browse content: {{ obj.content|truncatechars:10 }}</p>
                </div>

            </div>
        </div><hr/>
    </div>
    {% endfor %}
</div>

{% endblock content %}
